.projects {
    text-align: center;
    padding: 120px 8%;
}

.projects h2 {
    font-size: 40px;
    margin-bottom: 60px;
    color: #00ff88;
}

/* Grid Layout */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

/* Card */
.project-card {
    background: #0b0b0b;
    padding: 30px;
    border-radius: 14px;
    border: 1px solid rgba(0, 255, 136, 0.2);
    transition: 0.3s ease;
    text-align: left;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 30px #00ff88;
    border-color: #00ff88;
}

/* Title */
.project-card h3 {
    color: #00ff88;
    margin-bottom: 10px;
    font-size: 22px;
}

/* Description */
.project-card p {
    color: #aaaaaa;
    font-size: 15px;
    margin-bottom: 15px;
}

/* Tech Stack */
.tech-stack {
    margin-bottom: 15px;
}

.tech-stack span {
    background: rgba(0, 255, 136, 0.15);
    color: #00ff88;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 8px;
}

/* Buttons */
.project-buttons a {
    text-decoration: none;
    margin-right: 10px;
}

.project-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #00ff88;
    color: black;
    font-weight: 600;
    transition: 0.3s;
}

.project-buttons button:hover {
    background: white;
}